<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.mybatis.member.MemberMapper">
	<resultMap type="com.care.root.member.dto.MemberDTO" id="member">
		<id column="id" property="id"/>
		<result column="pw" property="pwd"/>
		<result column="addr" property="addr"/>
		<result column="login_cookie" property="loginCookie"/>
	</resultMap>
	<select id="getMember" resultMap="member">
		select * from membership
	</select>
	<select id="getUser" resultMap="member">
		select * from membership where id = #{id}
	</select>
	<insert id="register">
		insert into membership(id, pw, addr) values(#{id}, #{pwd}, #{addr})
	</insert>
	<update id="modify">
		UPDATE membership SET pw = #{pwd}, addr = #{addr} WHERE id = #{id}
	</update>
	<delete id="delete">
		DELETE from membership where id = #{id}
	</delete>
	<update id="keepLogin">
		UPDATE membership SET login_cookie = #{cookieId} WHERE id = #{id}
	</update>
	<select id="getCookieUser" resultMap="member">
		select * from membership where login_cookie = #{cookie}
	</select>
</mapper>