<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.mybatis.board.BoardMapper">

	<resultMap type="com.care.root.board.dto.BoardDTO" id="board">
		<id column="Write_no" property="writeNo"/>
		<result column="Title" property="title"/>
		<result column="Content" property="content"/>
		<result column="Savedate" property="savedate"/>
		<result column="Hit" property="hit"/>
		<result column="Image_file_name" property="imageFileName"/>
		<result column="id" property="id"/>
	</resultMap>
	
	<select id="getBoardList" resultMap="board">
		select * from mvc_board
	</select>
	
	<insert id="write">
		insert into mvc_board(write_no, title, content, image_file_name, id)
		values(mvc_board_seq.nextval, #{title}, #{content}, #{imageFileName}, #{id})
	</insert>


</mapper>